<app-header></app-header>
<div class="top">
    <h1>Contactez moi </h1>
    <p>N'hésitez pas à me contactez,pour me parler de votre futur projet, <br>ou  pour un devis ... je vous repondrais dans les plus bref delais !</p>
    <div class="topBottom">
        <div class="triangleLeft"></div>
        <div class="triangleRight"></div>
    </div>
</div>
<section class="contact">
  <form action="https://formsubmit.co/ludovicmoissinac.dev@gmail.com" method="POST">
        <input type="mail"  name="email" placeholder="Votre email" required>
        <textarea placeholder="Votre message" type="text" name="name" required></textarea>
        <button class="submit" type="submit">Envoyer</button>
    </form>
</section>