<app-header></app-header>
<div class="top">
    <h1>Mes Réalisations</h1>
    <div class="topBottom">
        <div class="triangleLeft"></div>
        <div class="triangleRight"></div>
    </div>
</div>
<div class="formation">
    <div class="project">
        <h2>Groupomania</h2>
        <div class="image">
            <img src="{{groupomania}}" alt="projet groupomania">
        </div>
        <p>Réseau social d'entreprise</p>
        <p>FrontEnd : Angular</p>
        <p>BackEnd  : nodeJs, Express</p>
        <div class="projectBottom">
            <div class="triangleLeftBlue"></div>
            <div class="triangleRightBlue"></div>
        </div>
    </div>
    <div class="project bis">
        <h2>travailAvecLeSourire</h2>
        <div class="image">
            <img src="{{travailaveclesourire}}" alt="projet reservia">
        </div>
        <p>Application de partage de ressources spécilisé développement.</p>
        <p>FrontEnd : Angular</p>
        <p>BackEnd  : nodeJs, Express, Socket.io</p>
        <div class="projectBottom">
            <div class="triangleLeft"></div>
            <div class="triangleRight"></div>
        </div>
    </div>
</div>
