<nav role="navigation">
  <div class="header">
      <img src="{{logo}}" alt="logo ludovic moissinac">
      <!-- <fa-icon [icon]="poweroff" (click)="disconnect()"></fa-icon> -->
  </div>
    <div id="menuToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="menu">
        <li routerLink="/home">Accueil</li>
        <li routerLink="/competences">Mes Compétences</li>
        <li routerLink="/realisations">Mes Réalisations</li>
        <li routerLink="/contact">Contact</li>
        <!-- <li routerLink="/auth">Se connecter / S'inscrire</li>
        <li routerLink="/devis">Vos devis</li>
        <li routerLink="/factures">vos factures</li> -->
      </ul>
    </div>
  </nav>