<app-header></app-header>
<div class="top">
    <h1>Mes Compétences</h1>
    <div class="topBottom">
        <div class="triangleLeft"></div>
        <div class="triangleRight"></div>
    </div>
</div>
<div class="competence">
    <div class="container">
       <img src="{{html}}" alt="logo html 5">
       <div class="pointPlein point1"></div>
       <div class="pointPlein point2"></div>
       <div class="pointPlein point3"></div>
       <div class="pointPlein point4"></div>
       <div class="pointPlein point5"></div>
       <div class="pointPlein point6"></div>
       <div class="pointPlein point7"></div>
       <div class="pointPlein point8"></div>
       <div class="pointPlein point9"></div>
       <div class="pointPlein point10"></div>
    </div>
    <div class="container">
        <img src="{{css}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointPlein point7"></div>
        <div class="pointPlein point8"></div>
        <div class="pointPlein point9"></div>
        <div class="pointPlein point10"></div>
     </div>
     <div class="container">
        <img src="{{sass}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointPlein point7"></div>
        <div class="pointPlein point8"></div>
        <div class="pointPlein point9"></div>
        <div class="pointPlein point10"></div>
     </div>
     <div class="container">
        <img src="{{js}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointPlein point7"></div>
        <div class="pointPlein point8"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
     </div>
     <div class="container">
        <img src="{{angular}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointPlein point7"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
     </div>
     <div class="container">
        <img src="{{sql}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
     </div>
     <div class="container">
        <img src="{{mongo}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
        <div class="pointVide"></div>
     </div>
     <div class="container">
        <img src="{{node}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointPlein point7"></div>
        <div class="pointPlein point8"></div>
        <div class="pointVide "></div>
        <div class="pointVide "></div>
     </div>
     <div class="container">
        <img src="{{socket}}" alt="logo html 5">
        <div class="pointPlein point1"></div>
        <div class="pointPlein point2"></div>
        <div class="pointPlein point3"></div>
        <div class="pointPlein point4"></div>
        <div class="pointPlein point5"></div>
        <div class="pointPlein point6"></div>
        <div class="pointPlein point7"></div>
        <div class="pointPlein point8"></div>
        <div class="pointPlein point9"></div>
        <div class="pointVide "></div>
     </div>
</div>
